* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    height: 100%; /* Đảm bảo chiều cao của body chiếm toàn bộ màn hình */
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

.page-title {
    padding: 10px;
    margin: 10px;
}

.dropdown-menu {
    margin: 10px 0;
}

/* Ultilities */
.container {
    margin: auto;
    max-width: 1500px;
    overflow: auto;
    padding: 0 20px;
}

/* Navbar Styling */
#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a, #logout-button {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover, #navbar ul li a.current {
    background: #444;
    color: #f7c08a
}

#navbar ul li form button {
    background-color: #333;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#navbar ul li form button:hover {
    background: #444;
    color: #f7c08a
}

/* Table Styling */
.table-title {
    padding: 20px;
    text-align: left;
}

table {
    background: white;
    border: 1px solid #E4E5E7;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 9px 18px;
}

tr {
    border-bottom: 1px solid #E4E5E7;
}

tr:nth-child(2n) {
    background-color: #F7F9FA;
}

.table-submit-button {
    color: #fff;
    float: right;
    padding: 20px;
    background: #333;
    border-radius: 3px;
    border: none;
    display: inline-block;
    margin: 20px;
    font-weight: 700;
}

.table-submit-button:hover {
    cursor: pointer;
    background: #444;
    color: #f7c08a
}

td a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

td a:hover {
    background: #444;
    color: #f7c08a
}

/* Form Styling */
.form-container {
    margin: 30px auto;
    max-width: 400px;
    padding: 20px;
}

.form-wrap {
    background: #fff;
    padding: 15px 25px;
    color: #333;
}

.form-wrap h2, .form-wrap p {
    text-align: center;
}

.form-wrap .form-group {
    margin-top: 15px
}

.form-wrap .form-group label {
    display: block;
    color: #666;
}

.form-wrap .form-group input {
    width: 100%;
    padding: 10px 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}

.form-wrap button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #333;
    color: #fff;
}

.form-wrap button:hover {
    cursor: pointer;
    background: #444;
    color: #f7c08a
}

/* Search Box styling */
.search-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-bar label {
    margin-right: 10px;
}

.search-bar select,
.search-bar input[type="text"] {
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
}

.search-bar select:focus,
.search-bar input[type="text"]:focus {
    outline: none;
    border-bottom: 1px solid #666;
}

.search-bar button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
    margin-left: auto;
}

.search-bar button:hover {
    background-color: #444;
}

/* Footer Styling */
html, body {
    display: flex;
    flex-direction: column;
    height: 100%; /* Đảm bảo body chiếm toàn bộ chiều cao màn hình */
}

.content {
    flex: 1; /* Giúp cho content chiếm không gian còn lại */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: auto; /* Đảm bảo footer nằm ở dưới cùng */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    margin: 0 15px;
}

.footer-col h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footer-col p, .footer-col ul {
    font-size: 14px;
}

.footer-col ul {
    list-style-type: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #f7c08a;
    text-decoration: none;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid #444;
    margin-top: 20px;
}

footer p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
